// Selection
// --------------------------------------------------
::-moz-selection { 
	background-color: lighten($base-color, 65%); 
	color: $base-color; 
	text-shadow: none; 
}  	
::selection { 
	background-color: lighten($base-color, 65%); 
	color: $base-color; 
	text-shadow: none; 
}

// Global Classes
// --------------------------------------------------
.my-avatar {
	background-position:0 0; 
	background-size: 220px 220px;
	width:200px;
	height:200px;
	margin: 0 auto 0 auto;
    border-radius: 50%;
}

.icons {
	width: 213px;
	margin: 0 auto;
	list-style: none;
	padding:0px;
}

.icons li {
	display: inline-block;
	font-size: 1.5rem;
}

.icons li>a {
	border-bottom: none !important; 
}

.icons li a i {
	padding-left: 10px;
}

.wrap {
	margin: 0 auto;
}
.all-caps {
	text-transform: uppercase;
}
.image-left {
	float: none;
	@media #{$medium} {
		float: left;
	}
}
.image-right {
	float: none;
	@media #{$medium} {
		float: right;
	}
}
.unstyled-list {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	li {
		list-style-type: none;
	}
}
.inline-list {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	li {
		list-style-type: none;
		display: inline;
	}
}

// Global Transition
// ---------------------------------------------------
b, i, strong, em, blockquote, p, q, span, figure, img, h1, h2, header, input, a {
	@include transition(all .2s ease);
}